html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100%;
  display: flex;
}
/* Hide HTML5 Up and Down arrows. */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
